
/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    //padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* Header  */
/* ----------------------------------------------- */

.top-line{
  width: 100%;
  height: 3px;
  color: #000;
  background-color: black;

}

.nav {

}

.nav ul {

}

.nav ul li {

}

.nav link {

}

.nav logo {

}

.blog-title {

}

.blog-title heading {

}

.blog-title sub-heading {

}
